/* styles.css */
html{
    background-color: #162b6f;
  }
  
  body {
      font-family: Arial, sans-serif;
      margin: 0px;
    }
    
    header {
      background-color: #000080; /* Azul marinho */
      color: white;
      padding: 10px;
      text-align: center;
      border:100px;
    }
    
    nav ul {
      list-style-type: none;
    }
    
    nav ul li {
      display: inline;
      margin-right: 20px;
    }
    
    .cards {
      display: flex;
      justify-content: space-around;
      margin-top: 100px;
      background-color: #162b6f;
      height: 75vh;
  
    }
    
    .card {
      border: 2px solid #000080;
      padding: 20px;
      text-align: center;
      width: 200px;
      transition: transform 0.3s;
      background-color: white;
      width: 25vw;
      height: 60vh;
    }
    
    .card:hover {
      transform: scale(1.1);
      background-color: white;
    }
  
    .icon {
      background-size: cover;
      height: 100px;
      margin: 10px auto;
    }
    
    .card img {
      width: 100%; /* Ajusta a largura da imagem para preencher a div */
      height: auto; /* Mantém a proporção da imagem */
  }